nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family:sans-serif;
    box-sizing: border-box;
    background-color:rgba(90, 86, 86, 0.6);
    animation: movedown 1s linear 1;
}
.logo{
    float:left;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    font-size:20px;


}
.logo h3{
    display: inline-block;

}
.photo{
    padding: 5px 0px;
    width:80px;
    float:left;
}

@keyframes movedown{
    0%{
        transform:translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }

}

nav ul{
    list-style:none;
    float:right;
    display:flex;
    justify-content:space-around;
    width:50%;
}
nav ul li a{
    text-decoration: none;
    padding:10px 20px;
     color:white;
     text-transform:uppercase;
     letter-spacing:2px;
     font-size:14px;
     animation: movedown 1s linear 1;

}
nav ul li a:hover{
      background:rgba(0,0,0,0.7);
      border-radius:6px;

}
body{
    background-image:url(image/image3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica, sans-serif;
    margin:0;
    padding:0;
}
.content h2{
    font-size:100px;
    font-weight:100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    text-transform:uppercase;
    animation: text 3s 1;
}
@keyframes text{
    0%{
        color:black;
    
    }
    30%{
        letter-spacing: 20px;
    
    }
    85%{
        letter-spacing: 7px; 
    }
}
.content p{
    font-size: 20px;
    color:rgba(240, 231, 231, 0.6);
}
.content{
    margin-left:47%;
    margin-top: 5%;
    animation: movedown 1s linear 1;
}

.content .btn{
    display: inline-block;
    background:linear-gradient(45deg,#e04e21,#dbcc46);
    border-radius: 6px;
    padding:10px 30px;
    box-sizing:border-box;
    text-decoration: none;
    color:rgba(44, 42, 42, 0.6);
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
   
}div{
    font-family:sans-serif;
}
.social{
    position:absolute;
    top:90%;
    transform:translateY(-50%);
    width:100%;
    text-align:center;
    animation: movedown 1s linear 1;
}
.link{
    display:inline-block;
    width:40px;
    height:40px;
    background:#f1f1f1;
    margin:10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color:#3498db;
    overflow:hidden;
    position:relative;
}
.link i{
    line-height: 40px;
    font-size: 26px;
    transition:0.2s linear;
}
.link:hover{
    transform:scale(1.3);
    color:#f1f1f1;

}
.dropbtn {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: -10px;

    
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background:rgba(0,0,0,0.7);
    border-radius:6px;  
} 
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
     background-color: #f1f1f1; 
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
